# Don't upload secret env variables
.env

# Don't upload saved models
saved_models/

# Don't upload cached Python files
__pycache__/
*.pyc

# Don't upload large log files
logs/
*.log

# VSCode project files (optional)
.vscode/

# Jupyter notebook checkpoints (if used)
.ipynb_checkpoints/
